<%= render 'components/navbar', home: false %>

<div class="aboutLynnDiv">

  <h2>About</h2>


  <p>My pictures are stories in a photograph. I learned the art of storytelling being an editor for more than 20 years. You need a sharp eye for detail when editing a film, television and documentary. I really hope that you also enjoy particular details in my pictures as I do. The world is full of them and during my travels I try to capture them with my compact Panasonic DMC-GM1.
  </p>

  <p>You can also follow me on <%= link_to 'instagram', "https://www.instagram.com/lynnraey_travel/" %>.</p>

  <h2>Contact</h2>
  <div class="contact">
    <div class="contactrow">  <div class="iconDiv"><i class="fas fa-mobile-alt"></i></div> 0032 489 56 93 05  </div>
    <div class="contactrow">  <div class="iconDiv"><i class="far fa-envelope"></i> </div> <a href="mailto:lynnraey1@gmail.com">lynnraey1@gmail.com </a></div>
  </div>
  <div class="contact simple" style="display:none">
    <%= form_for :anything, :url => url_for(:controller => 'static_pages', :action => 'write_simple_mail'),
    :html => { :id => "writeSimpleMailForm" } do |f| %>
    <div class="formrow">
      <%= f.label :your_name %>
      <%= f.text_field(:from_name)%>
    </div>
    <div class="formrow">
      <%= f.label :your_mail %>
      <%= f.text_field(:from_mail)%>
    </div>
    <div class="formrow">
      <%= f.label :your_message %>
      <%= f.text_area(:comment, size: "30x10")%>
    </div>
    <%= f.submit 'should be hidden', id:'sendSelection', class:'orderButton' %>
    <% end %>
  </div>
</div>



</div>

