
<%= render 'components/navbar', home: true %>


<% cl_url = cl_image_path @lynn_photo.photo, height: 750, crop: :limit, :quality=>"auto:low" %>
<% puts "new url: #{cl_url}" %>

<div class="mainPhoto" style="background-image:url('<%= cl_url %>'), linear-gradient(to bottom, #FFF, #DDD 75%);">

  <div class="leftBtn btnColumn">
    <%= link_to previousPhoto_path(photo_id: @lynn_photo.id), remote: true do %>
    <i class="fas fa-caret-left"></i>
    <% end %>
  </div>
  <div class="middlePart">
  </div>
  <div class="rightBtn btnColumn">
    <%= link_to nextPhoto_path(photo_id: @lynn_photo.id), remote: true do %>
    <i class="fas fa-caret-right"></i>
    <% end %>
  </div>
</div>

<%= render 'components/footer' %>

<script>
  y = setInterval(function(){ console.log("click"); document.querySelector(".rightBtn a").click(); }, 13000);
  document.querySelector(".rightBtn a").addEventListener("click", () => {clearInterval(y);
    y = setInterval(function(){ console.log("click"); document.querySelector(".rightBtn a").click(); }, 13000);
  });
  document.querySelector(".leftBtn a").addEventListener("click", () => {clearInterval(y);
    y = setInterval(function(){ console.log("click"); document.querySelector(".rightBtn a").click(); }, 13000);
  });
  document.addEventListener("keydown", (event) => {
    console.log("key!");
    switch (event.key) {
      case "ArrowLeft":
      // clearInterval(y);
      document.querySelector(".leftBtn a").click();
      break;
      case "ArrowRight":
      // clearInterval(y);
      document.querySelector(".rightBtn a").click();

      break;
      case "ArrowUp":
      // clearInterval(y);
      // document.querySelector(".leftBtn a").click();
      break;
      case "ArrowDown":
      // clearInterval(y);
      document.querySelector(".rightBtn a").click();
      break;
    }
  });
  document.querySelector(".middlePart").addEventListener("click", () => {
    const navBar = document.querySelector(".navbar");
    navBar.classList.toggle("hideDiv");
    const mainPhoto = document.querySelector(".mainPhoto");
    if (navBar.classList.contains("hideDiv")) {
      mainPhoto.style.backgroundSize = "contain";
      mainPhoto.style.marginLeft = "0";
      mainPhoto.style.marginRight = "0";


    } else {
      mainPhoto.style.backgroundSize = "cover";
      let marVar="20vh";
      if (window.innerWidth < 1024) marVar = "4vw";
      mainPhoto.style.marginLeft = marVar;
      mainPhoto.style.marginRight = marVar;

    }
    document.querySelector(".footer").classList.toggle("hideDiv");

  });

</script>
