<div class="navbar">
  <div class="bgTitle">
    <%= link_to static_pages_home_path do %>
    <h1 class="mainTitle">
      Lynn Raeymaekers photography
    </h1>

    <% end %>
  </div>
  <div class="links">
    <ul>
      <% if !home %>
      <li> <%= link_to "Home", static_pages_home_path %></li>
      <% end %>
      <li><%= link_to "About", static_pages_about_path%></li>
      <li><%= link_to "Prints", lynn_photos_path %> </li>
      <% if !current_user.nil? %>
      <li><%= link_to 'Upload new photo', new_lynn_photo_path %> </li>
      <li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
      <% end %>
    </ul>
    <% if home %>
    <div class="fullscreenClick">click image to view fullscreen</div>
    <% end %>
  </div>
</div>
