<h3>I would like to order or get more info!</h3>

<p>
  <%= @greeting %>

  I am intrested in buying:
  <table>
    <% @pictures.each do |picture| %>
    <tr>
      <td><%= cl_image_tag picture.photo, height: 30, width: 40, crop: :fill %></td>
      <td> <%= picture.id %></td> 
      <td> <%= picture.year %> - <%= picture.city_taken %>, <%= picture.country_taken %></td>
    </tr>
    <% end %>
  </table>
</p>
<div> 
  <h4>extra text van afzender:</h4>
  <p> <%= @extra_text %> </p>
</div>
<div> 
  <h4>afzender:</h4>
  <p> naam: <%= @from_name %> </p>
</div>
